bin/
obj/
*.vb
*.vbproj
*.config
*.pfx
*.user
*.Designer.vb
*.resx
*.md
*.txt
*.webp
*.png
My Project/
Forms/
Helpers/
Services/
SQL/
Utils/
packages.config
App.config
ApplicationEvents.vb
Form1.vb
Form1.Designer.vb
ResponsiveHelper.vb
Overn-Delights-POS.vbproj
Overn-Delights-POS.vbproj.user
Overn-Delights-POS_TemporaryKey.pfx
POS_Mockup.html
